.activites-container {
    padding: 30px;
}

.activites-container .section-title {
    margin-bottom: 30px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;    
}

.activites-cards a {
    width: 33.33%;
}

.activites-cards .card {
    width: 100%;
}

.activites-cards img {
    width: 100%;
    height: 380px;    

    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activites-container .card-content {
    padding: 10px 19px 20px;
}

/* --------- Responsive --------- */

/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
    .activites-container .card {
        height: 270px;
    }

    .activites-cards img {
        height: 70%;
    }

    .activites-container .card-content {
        padding: 10px 19px 20px;
    }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {
    .activites-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activites-container .card {
        height: 200px;
    }

    .activites-cards a {
        width: 100%;
    }
}