/* --------- Load CSS Policies --------- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');


/* --------- Global Settings --------- */

:root {
	--main-color: #0065FC;
	--main-bg-color: #F2F2F2;
    --main-bg-color-secondary: #D9D9D9;
	--filter-bg-color: #DEEBFF;
}

* {
	margin: 0;
	padding: 0;

	font-family: 'Raleway', sans-serif;
    
    box-sizing: border-box;
}

body {
	/* Remove element selections */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    
	max-width: 1440px;
	width: 100%;

	margin: 0 auto;
	padding: 0 50px;	
	
	box-sizing: border-box;
}

.section-title {
	font-size: 22px;
}

.euro {
	font-weight: 700;
}

.fa-solid {
	color: var(--main-color);
}

.neutral-star {
	color: var(--main-bg-color)
}



/* --------- Hebergements And Populaires --------- */

.hebergements-and-populaires {
	display: flex;
	justify-content: space-between;
}

.hebergements-and-populaires section {
	padding: 30px;

	background-color: var(--main-bg-color);
	border-radius: 20px;
}


/* --------- Responsive --------- */

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	.hebergements-and-populaires {
		flex-direction: column;
        gap: 50px;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
	.main-container {
		padding: 0;
	}

    .hebergements-and-populaires {
		flex-direction: column-reverse;
        gap: 15px;
	}

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires section:first-child {
        background-color: white;
    }
}