/* --------- Hebergements Section --------- */

.hebergements {
	width: 65%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
}

.hebergements-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.hebergements-cards .card {
	width: 100%;
	height: 207px;

	display: flex;
	flex-direction: column;

	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.hebergements-cards img {
	min-width: 240px;
	width: 100%;
	height: 124px;

	border: 5px solid white;
	border-bottom: none;

	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
}

.hebergements-cards .card-content {
	padding: 0px 15px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 4px;
}

/* --------- Display More Button --------- */
.hebergements input[type="button"] {
	cursor: pointer;
	width: 107px;

	font-size: 18px;
	font-weight: 700;

	border: none;
	background: none;
}

/* --------- Responsive --------- */

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	.hebergements {
		width: 100%;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

	.hebergements,
	.hebergements-cards {
		gap: 15px;
	}

	.hebergements-cards {
		flex-wrap: unset;
		flex-direction: column;
	}
}